@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Text color for light mode */
  --background-rgb: 255, 255, 255; /* White background for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Text color for dark mode */
    --background-rgb: 0, 0, 0; /* Black background for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Set background color based on mode */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

